label{
    background-color: rgb(249, 162, 31);
    border: 1px black solid;
    display: inline-block;
    padding: 1px;
    width: 85px;
}

input{
    background-color: rgb(250, 249, 193);
}


body{
    background-color: #f5eef0;
}

h1{
    color: #dc3545;
    text-align: center;
}


.card{
    border: 2px solid #dc3545;
    border-radius: 15px;
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.05);
}


.card-body{
    background-color: #fff3cd;
}


.form-select{
    border: 2px solid #dc3545;
}


.modal-content{
    border: 3px solid #dc3545;
    border-radius: 20px;
}